h1, h6 {
  font-family: "Shrikhand", "Roboto", sans-serif;
  text-decoration: none;
}

body, html {
  font-family: "Roboto", sans-serif;
}

a:link {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.footer__title {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

/*Page index*/
.about__button, .order__button {
  color: white;
  font-weight: bold;
}

/*Pages Menu*/
.header__text {
  text-align: center;
  font-size: 25px;
}

.menu__name {
  font-size: 20px;
}

.menu__presentation {
  font-size: 13px;
}

.menu__titlecategorie {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}

.about__button, .order__button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 50px;
  height: 40px;
}

.about .order, .order .order {
  text-align: center;
  padding: 15px 0px 40px 0;
}

.about .order__button, .order .order__button {
  width: 135px;
}

.about .about__button, .order .about__button {
  width: 190px;
}

/*Footer*/
.footer {
  background-color: gray;
  padding: 1px 10px;
  color: white;
  text-decoration: none;
}

.footer__lists {
  padding: 0;
  list-style-type: none;
}

/* Mobiles */
@media only screen and (min-width: 320px) and (max-width: 359px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about {
    margin: 10px 10px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 300px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 55px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 52px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 88px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 54px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about {
    margin: 10px 10px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 340px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 90px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 88px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 124px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 90px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 375px) and (max-width: 383px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about {
    margin: 10px 10px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 355px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 110px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 107px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 142px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 108px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 384px) and (max-width: 409px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about {
    margin: 10px 10px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 365px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 120px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 117px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 152px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 118px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 410px) and (max-width: 411px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about {
    margin: 10px 10px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 392px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 145px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 142px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 177px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 144px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 412px) and (max-width: 413px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about {
    margin: 10px 10px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 392px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 145px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 142px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 177px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 144px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 414px) and (max-width: 599px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about {
    margin: 10px 10px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 395px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 145px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 142px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 177px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 144px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

/*Mobiles*/
@media only screen and (min-width: 320px) and (max-width: 359px) {
  body {
    background-color: white;
  }
  .header {
    margin: 0;
  }
  .header__image {
    width: 320px;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__text {
    width: 100%;
    margin: 10px 25px 0 0;
  }
  .header__link {
    margin: 20px 10px;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    background-color: #ececec;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -3rem;
    position: relative;
  }
  .menu__name {
    margin: 0;
    padding: 20px 0px 5px 15px;
    width: 200px;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
  }
  .menu__icon {
    padding: 5px 0px 0px 50px;
    font-size: 25px;
  }
  .menu__section {
    margin: 10px 10px;
  }
  .menu__presentation {
    border-radius: 15px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0 0 0px;
  }
  .menu__price {
    margin: 0;
    padding: 5px 0px 0px 15px;
  }
  .menu__presentationtext {
    margin: 0;
    padding: 5px 0px 5px 15px;
    width: 220px;
  }
  .menu__presentationtitle {
    margin: 0;
    padding: 15px 0px 5px 15px;
  }
  .menu__titlecategorie {
    padding-left: 5px;
    margin: 0;
  }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  body {
    background-color: aquamarine;
  }
}

@media only screen and (min-width: 375px) and (max-width: 383px) {
  body {
    background-color: blue;
  }
}

@media only screen and (min-width: 384px) and (max-width: 409px) {
  body {
    background-color: #27274f;
  }
}

@media only screen and (min-width: 410px) and (max-width: 411px) {
  body {
    background-color: cadetblue;
  }
}

@media only screen and (min-width: 412px) and (max-width: 413px) {
  body {
    background-color: #6666b1;
  }
}

@media only screen and (min-width: 414px) and (max-width: 599px) {
  body {
    background-color: #a24a84;
  }
}
/*# sourceMappingURL=main.css.map */