/* Button Heart */
.restaurants {
  /*Transition*/
}

.restaurants__heartbackground--hover {
  font-size: 22px;
  padding: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.restaurants__heartbackground--hover:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: rgba(238, 130, 238, 0);
  width: 25px;
  text-align: center;
}

/* Loading */
/*Slide up Menu*/
.menu__slide--one {
  -webkit-transition: 3.5s;
  transition: 3.5s;
  -webkit-animation: slideUp 3.5s;
          animation: slideUp 3.5s;
}

.menu__slide--two {
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-animation: slideUp 3s;
          animation: slideUp 3s;
}

.menu__slide--three {
  -webkit-transition: 2.8s;
  transition: 2.8s;
  -webkit-animation: slideUp 2.8s;
          animation: slideUp 2.8s;
}

.menu__slide--four {
  -webkit-transition: 2.5s;
  transition: 2.5s;
  -webkit-animation: slideUp 2.5s;
          animation: slideUp 2.5s;
}

.menu__slide--five {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-animation: slideUp 2s;
          animation: slideUp 2s;
}

.menu__slide--six {
  -webkit-transition: 1.8s;
  transition: 1.8s;
  -webkit-animation: slideUp 1.8s;
          animation: slideUp 1.8s;
}

.menu__slide--seven {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-animation: slideUp 1.5s;
          animation: slideUp 1.5s;
}

.menu__slide--eight {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: slideUp 1s;
          animation: slideUp 1s;
}

.menu__slide--nine {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-animation: slideUp 0.8s;
          animation: slideUp 0.8s;
}

.menu__slide--ten {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: slideUp 0.5s;
          animation: slideUp 0.5s;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 0.50;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 0.50;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}

/*Checkbox*/
@media only screen and (min-width: 360px) and (max-width: 374px) {
  .menu__checkbox--meal {
    position: absolute;
    right: 8px;
    padding: 20px 25px 20px 25px;
    text-align: center;
    background-color: #0b60a5;
    opacity: 0%;
  }
  .menu__checkbox--meal:hover {
    opacity: 100%;
    cursor: pointer;
    background-color: fuchsia;
    text-align: center;
    right: 8px;
    border-radius: 0 20px 20px 0;
    position: absolute;
    padding: 20px 25px 20px 25px;
    -webkit-animation: checkbox 3s;
            animation: checkbox 3s;
  }
  .menu__checkbox--meal__icon {
    background-color: gold;
  }
  .menu__checkbox--meal__icon:hover {
    background-color: green;
  }
  @-webkit-keyframes checkbox {
    0% {
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: rotate(240deg);
              transform: rotate(240deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 1;
    }
  }
  @keyframes checkbox {
    0% {
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: rotate(240deg);
              transform: rotate(240deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 1;
    }
  }
}

h1, h6 {
  font-family: "Shrikhand", "Roboto", sans-serif;
  text-decoration: none;
}

body, html {
  font-family: "Roboto", sans-serif;
}

a:link {
  text-decoration: none;
  list-style-type: none;
}

.footer__title {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

.about__button, .order__button {
  color: white;
  font-weight: bold;
}

.header__text {
  text-align: center;
  font-size: 25px;
}

.header__logo {
  font-size: 25px;
}

.menu__name {
  font-size: 20px;
}

.menu__presentation {
  font-size: 14px;
}

.menu__titlecategorie {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}

.order {
  text-align: center;
  padding: 15px 0px 40px 0;
  width: 100%;
}

.order__button {
  width: 135px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 50px;
  height: 40px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.order__button:hover {
  cursor: pointer;
}

.about__button {
  width: 190px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 50px;
  height: 40px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.about__button:hover {
  cursor: pointer;
}

.restaurants__descriptionicon1, .restaurants__descriptionicon2, .restaurants__descriptionicon3, .restaurants__descriptionicon4 {
  padding: 15px 0 0 55px;
  position: absolute;
}

/*Footer*/
.footer {
  background-color: #353535;
  padding: 1px 10px;
  color: white;
  text-decoration: none;
}

.footer__lists {
  padding: 0;
  list-style-type: none;
  color: white;
}

.footer__link {
  text-decoration: none;
  color: white;
}

/* Base/Margin/Padding */
body {
  margin: 0;
}

/* Header */
.about {
  margin: 0;
}

.about__title {
  margin: 0;
}

.about__elements {
  background-color: #F2F2F2;
  padding: 0 0 35px 0;
}

/* Mobiles */
@media only screen and (min-width: 320px) and (max-width: 359px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 300px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 55px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 52px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 88px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 54px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 340px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    width: 180px;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    width: 140px;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__icons {
    float: right;
    position: initial;
    padding-left: 92px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 375px) and (max-width: 383px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 355px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 110px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 107px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 142px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 108px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 384px) and (max-width: 409px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 365px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 120px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 117px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 152px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 118px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 410px) and (max-width: 411px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 392px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 145px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 142px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 177px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 144px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 412px) and (max-width: 413px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 392px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 145px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 142px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 177px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 144px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

@media only screen and (min-width: 414px) and (max-width: 599px) {
  body {
    background-color: white;
    margin: 0;
  }
  /*Header*/
  .header {
    margin: 10px 10px;
  }
  .header__logo {
    text-align: center;
  }
  .localisation {
    text-align: center;
    background-color: #F2F2F2;
    padding: 15px 0px 15px 0px;
  }
  .localisation__text {
    background-color: #F2F2F2;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
    border-left: none;
    border-right: none;
    width: 90px;
  }
  .about__elements {
    text-align: center;
  }
  .functioning {
    margin: 10px 10px;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
  }
  .functioning__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: initial;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #F2F2F2;
  }
  .functioning__number {
    border-radius: 15px;
    background-color: #9356DC;
    padding: 6px 10px;
    margin: -15px;
  }
  .functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
    padding: 0 25px 0 25px;
  }
  /*Main*/
  .restaurants {
    background-color: #F2F2F2;
    padding: 10px 10px;
  }
  .restaurants__link {
    list-style: none;
    text-decoration: none;
    color: black;
  }
  .restaurants__elements {
    border-radius: 25px;
  }
  .restaurants__image {
    width: 395px;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__elementdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0px 150px 5px 10px;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0px 65px 5px 10px;
  }
  .restaurants__descriptionicon1 {
    padding: 15px 0 0 145px;
  }
  .restaurants__descriptionicon2 {
    padding: 15px 0px 0 142px;
  }
  .restaurants__descriptionicon3 {
    padding: 15px 0px 0 177px;
  }
  .restaurants__descriptionicon4 {
    padding: 15px 0px 0px 144px;
  }
  .restaurants__section1, .restaurants__section2, .restaurants__section3, .restaurants__section4 {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
  }
}

/* Desktop */
@media only screen and (min-width: 600px) and (max-width: 5119px) {
  .restaurants__image {
    width: 350px;
    height: 250px;
  }
}

/* Base/margin/padding */
.restaurants__icons {
  width: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Mobiles*/
@media only screen and (min-width: 320px) and (max-width: 359px) {
  body {
    background-color: white;
  }
  .header {
    margin: 0;
  }
  .header__image {
    width: 320px;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__text {
    width: 100%;
    margin: 10px 25px 0 0;
  }
  .header__link {
    margin: 20px 10px;
    color: gray;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    background-color: #ececec;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -3rem;
    position: relative;
  }
  .menu__name {
    margin: 0;
    padding: 20px 0px 5px 15px;
    width: 200px;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
  }
  .menu__icon {
    padding: 15px 35px 0px 45px;
    font-size: 25px;
  }
  .menu__section {
    margin: 10px 10px;
  }
  .menu__presentation {
    border-radius: 15px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0 0 0px;
  }
  .menu__price {
    margin: 0;
    width: 50px;
  }
  .menu__presentationtext {
    margin: 0;
    padding: 0px 0px 2px 15px;
    width: 235px;
  }
  .menu__presentationtitle {
    margin: 0;
    padding: 15px 0px 5px 15px;
    width: 340px;
  }
  .menu__titlecategorie {
    padding-left: 5px;
    margin: 0;
  }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  body {
    background-color: white;
  }
  .header {
    margin: 0;
  }
  .header__image {
    width: 360px;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__text {
    width: 100%;
    margin: 10px 25px 0 0;
  }
  .header__link {
    margin: 20px 10px;
    color: gray;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    background-color: #ececec;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -3rem;
    position: relative;
  }
  .menu__name {
    margin: 0;
    padding: 20px 0px 5px 15px;
    width: 240px;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
  }
  .menu__icon {
    padding: 15px 35px 0px 45px;
    font-size: 25px;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .menu__section {
    margin: 10px 10px;
  }
  .menu__presentation {
    border-radius: 15px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0 0 0px;
  }
  .menu__price {
    margin: 0;
    width: 50px;
  }
  .menu__presentationtext {
    margin: 0;
    padding: 0px 0px 2px 15px;
    width: 275px;
  }
  .menu__presentationtitle {
    margin: 0;
    padding: 15px 0px 5px 15px;
    width: 340px;
  }
  .menu__titlecategorie {
    padding-left: 5px;
    margin: 0;
  }
}

@media only screen and (min-width: 375px) and (max-width: 383px) {
  body {
    background-color: white;
  }
  .header {
    margin: 0;
  }
  .header__image {
    width: 375px;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__text {
    width: 100%;
    margin: 10px 25px 0 0;
  }
  .header__link {
    margin: 20px 10px;
    color: gray;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    background-color: #ececec;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -3rem;
    position: relative;
  }
  .menu__name {
    margin: 0;
    padding: 20px 0px 5px 15px;
    width: 200px;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 375px;
  }
  .menu__icon {
    padding: 15px 35px 0px 100px;
    font-size: 25px;
  }
  .menu__section {
    margin: 10px 10px;
  }
  .menu__presentation {
    border-radius: 15px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0 0 0px;
  }
  .menu__price {
    margin: 0;
    width: 50px;
  }
  .menu__presentationtext {
    margin: 0;
    padding: 0px 0px 2px 15px;
    width: 290px;
  }
  .menu__presentationtitle {
    margin: 0;
    padding: 15px 0px 5px 15px;
    width: 340px;
  }
  .menu__titlecategorie {
    padding-left: 5px;
    margin: 0;
  }
}

@media only screen and (min-width: 384px) and (max-width: 409px) {
  body {
    background-color: white;
  }
  .header {
    margin: 0;
  }
  .header__image {
    width: 384px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__text {
    width: 100%;
    margin: 10px 25px 0 0;
  }
  .header__link {
    margin: 20px 10px;
    color: gray;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    background-color: #ececec;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -3rem;
    position: relative;
  }
  .menu__name {
    margin: 0;
    padding: 20px 0px 5px 15px;
    width: 264px;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 384px;
  }
  .menu__icon {
    padding: 15px 35px 0px 45px;
    font-size: 25px;
  }
  .menu__section {
    margin: 10px 10px;
  }
  .menu__presentation {
    border-radius: 15px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0 0 0px;
  }
  .menu__price {
    margin: 0;
    width: 50px;
  }
  .menu__presentationtext {
    margin: 0;
    padding: 0px 0px 2px 15px;
    width: 299px;
  }
  .menu__presentationtitle {
    margin: 0;
    padding: 15px 0px 5px 15px;
    width: 350px;
  }
  .menu__titlecategorie {
    padding-left: 5px;
    margin: 0;
  }
}

@media only screen and (min-width: 410px) and (max-width: 413px) {
  body {
    background-color: white;
  }
  .header {
    margin: 0;
  }
  .header__image {
    width: 412px;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__text {
    width: 100%;
    margin: 10px 25px 0 0;
  }
  .header__link {
    margin: 20px 10px;
    color: gray;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    background-color: #ececec;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -3rem;
    position: relative;
  }
  .menu__name {
    margin: 0;
    padding: 20px 0px 5px 15px;
    width: 292px;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 412px;
  }
  .menu__icon {
    padding: 15px 35px 0px 45px;
    font-size: 25px;
  }
  .menu__section {
    margin: 10px 10px;
  }
  .menu__presentation {
    border-radius: 15px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0 0 0px;
  }
  .menu__price {
    margin: 0;
    width: 50px;
  }
  .menu__presentationtext {
    margin: 0;
    padding: 0px 0px 2px 15px;
    width: 325px;
  }
  .menu__presentationtitle {
    margin: 0;
    padding: 15px 0px 5px 15px;
    width: 375px;
  }
  .menu__titlecategorie {
    padding-left: 5px;
    margin: 0;
  }
}

@media only screen and (min-width: 414px) and (max-width: 599px) {
  body {
    background-color: white;
  }
  .header {
    margin: 0;
  }
  .header__image {
    width: 414px;
    height: 235px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__text {
    width: 100%;
    margin: 10px 25px 0 0;
  }
  .header__link {
    margin: 20px 10px;
    color: gray;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    background-color: #ececec;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -3rem;
    position: relative;
  }
  .menu__name {
    margin: 0;
    padding: 20px 0px 5px 15px;
    width: 294px;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 414px;
  }
  .menu__icon {
    padding: 15px 35px 0px 45px;
    font-size: 25px;
  }
  .menu__section {
    margin: 10px 10px;
  }
  .menu__presentation {
    border-radius: 15px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 15px 0 0 0px;
  }
  .menu__price {
    margin: 0;
    width: 50px;
  }
  .menu__presentationtext {
    margin: 0;
    padding: 0px 0px 2px 15px;
    width: 329px;
  }
  .menu__presentationtitle {
    margin: 0;
    padding: 15px 0px 5px 15px;
    width: 380px;
  }
  .menu__titlecategorie {
    padding-left: 5px;
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */