/* Button Heart */
.restaurants {
  /*Transition*/
}

.restaurants__heartbackground {
  font-size: 22px;
  padding: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.restaurants__heartbackground:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: rgba(238, 130, 238, 0);
  width: 25px;
  text-align: center;
}

/* Loading */
.loading {
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader 3s linear forwards;
          animation: loader 3s linear forwards;
  background-clip: text;
  z-index: 0;
}

.loading__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading__item {
  font-size: 250px;
}

@-webkit-keyframes loader {
  0% {
    color: #9356DC;
    opacity: 1;
    z-index: 1;
  }
  20% {
    color: #FF79DA;
    z-index: 1;
  }
  50% {
    color: #99E2D0;
    z-index: 1;
  }
  100% {
    color: #99E2D0;
    opacity: 0;
    z-index: 0;
  }
}

@keyframes loader {
  0% {
    color: #9356DC;
    opacity: 1;
    z-index: 1;
  }
  20% {
    color: #FF79DA;
    z-index: 1;
  }
  50% {
    color: #99E2D0;
    z-index: 1;
  }
  100% {
    color: #99E2D0;
    opacity: 0;
    z-index: 0;
  }
}

/*Slide up Menu*/
.menu__slide--one {
  -webkit-transition: 3.5s;
  transition: 3.5s;
  animation: slideUp 3.5s;
  -webkit-animation: slideUp 3.5s;
  -moz-animation: slideUp 3.5s;
}

.menu__slide--two {
  -webkit-transition: 3s;
  transition: 3s;
  animation: slideUp 3s;
  -webkit-animation: slideUp 3s;
  -moz-animation: slideUp 3s;
}

.menu__slide--three {
  -webkit-transition: 2.8s;
  transition: 2.8s;
  animation: slideUp 2.8s;
  -webkit-animation: slideUp 2.8s;
  -moz-animation: slideUp 2.8s;
}

.menu__slide--four {
  -webkit-transition: 2.5s;
  transition: 2.5s;
  animation: slideUp 2.5s;
  -webkit-animation: slideUp 2.5s;
  -moz-animation: slideUp 2.5s;
}

.menu__slide--five {
  -webkit-transition: 2s;
  transition: 2s;
  animation: slideUp 2s;
  -webkit-animation: slideUp 2s;
  -moz-animation: slideUp 2s;
}

.menu__slide--six {
  -webkit-transition: 1.8s;
  transition: 1.8s;
  animation: slideUp 1.8s;
  -webkit-animation: slideUp 1.8s;
  -moz-animation: slideUp 1.8s;
}

.menu__slide--seven {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  animation: slideUp 1.5s;
  -webkit-animation: slideUp 1.5s;
  -moz-animation: slideUp 1.5s;
}

.menu__slide--eight {
  -webkit-transition: 1s;
  transition: 1s;
  animation: slideUp 1s;
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
}

.menu__slide--nine {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  animation: slideUp 0.8s;
  -webkit-animation: slideUp 0.8s;
  -moz-animation: slideUp 0.8s;
}

.menu__slide--ten {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  animation: slideUp 0.5s;
  -webkit-animation: slideUp 0.5s;
  -moz-animation: slideUp 0.8s;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 0.50;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 0.50;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 1;
  }
}

/*Check*/
.menu__item:hover .menu__confirmation {
  margin-right: 0;
}

.menu__item:hover .fa-check.fas {
  -webkit-transition: 2.8s;
  transition: 2.8s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

h1, h6 {
  font-family: "Shrikhand", "Roboto", sans-serif;
  text-decoration: none;
}

body, html {
  font-family: "Roboto", sans-serif;
}

a:link {
  text-decoration: none;
  list-style-type: none;
}

.footer__title {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

.about__button, .order__button {
  color: white;
  font-weight: bold;
}

.header__text {
  text-align: center;
  font-size: 25px;
}

.header__logo {
  font-size: 25px;
}

.menu__name {
  font-size: 20px;
}

.menu__presentation {
  font-size: 14px;
}

.menu__titlecategorie {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}

.restaurants__descriptiontext {
  color: black;
}

.restaurants__descriptiontitle {
  color: black;
}

.order {
  text-align: center;
  padding: 15px 0px 40px 0;
  width: 100%;
}

.order__button {
  width: 135px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 50px;
  height: 40px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.order__button:hover {
  cursor: pointer;
}

.about__button {
  width: 190px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  border-radius: 50px;
  height: 40px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.about__button:hover {
  cursor: pointer;
}

.restaurants__descriptionicon1, .restaurants__descriptionicon2, .restaurants__descriptionicon3, .restaurants__descriptionicon4 {
  padding: 15px 0 0 55px;
  position: absolute;
}

/*Footer*/
.footer {
  background-color: #353535;
  color: white;
  text-decoration: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  padding: 0;
}

.footer__title {
  padding-left: 10px;
  max-width: 1280px;
  margin: auto;
}

.footer__elements {
  padding-left: 10px;
  max-width: 1280px;
  margin: auto;
}

.footer__lists {
  padding: 0;
  list-style-type: none;
  color: white;
}

.footer__link {
  text-decoration: none;
  color: white;
}

.footer__link:hover {
  cursor: pointer;
}

/*Desktop*/
.header {
  margin: 0;
  text-align: center;
}

.header__image {
  width: 100%;
  height: 235px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__text {
  width: 100%;
  margin: 10px 25px 0 0;
}

.header__link {
  margin: 20px 10px;
  color: gray;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 3840px) and (max-width: 5119px) {
  .header__image {
    height: 450px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* BASE */
body {
  margin: 0;
  background-color: white;
}

main, header {
  position: relative;
  overflow-x: hidden;
}

.localisation {
  text-align: center;
  background-color: #DDD;
  padding: 20px 0px;
}

.localisation__text {
  background-color: #DDD;
  border-top: solid #DDD 1px;
  border-bottom: solid #DDD 1px;
  border-left: none;
  border-right: none;
  width: 90px;
}

.about {
  margin: 0;
}

.about__title {
  margin: 0;
}

.about__elements {
  text-align: center;
  background-color: #ececec;
  padding: 0 0 35px 0;
}

.about__button {
  border: 0;
}

.order__button {
  border: 0;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 20px 0px 20px 0px;
}

.restaurants__heartbackground {
  margin-top: 10px;
}

.restaurants__icons {
  width: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants__elements {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.restaurants__elementdescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.restaurants__section {
  margin-bottom: 25px;
  border-radius: 15px;
  background-color: white;
  width: 95%;
}

.restaurants__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurants__image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurants__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  margin-left: 37%;
  top: 8%;
}

.restaurants__descriptiontext {
  margin: 0;
  padding: 0 0 0px 10px;
  width: 100%;
}

.restaurants__descriptiontitle {
  margin: 0;
  padding: 0 0 0px 10px;
  width: 90%;
}

.functioning__lists {
  padding: 0px 0px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
}

.functioning__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: initial;
  margin-bottom: 25px;
  border-radius: 15px;
  background-color: #F2F2F2;
  width: 100%;
}

.functioning__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: initial;
  margin-bottom: 25px;
  border-radius: 15px;
  background-color: #F2F2F2;
}

.functioning__number {
  border-radius: 15px;
  background-color: #9356DC;
  padding: 6px 10px;
  margin: -15px;
}

.functioning__iconmobile, .functioning__iconlist, .functioning__iconstore {
  padding: 0 25px 0 25px;
}

.functioning__elements {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

/*Mobiles*/
/*Tablets*/
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .restaurants__section {
    width: 47%;
  }
  .restaurants__badge {
    margin-left: 31%;
  }
  .restaurants__descriptiontitle {
    width: 85%;
  }
  .restaurants__image {
    height: 205px;
  }
  .restaurants__title {
    margin: 10px 10px 5px 10px;
  }
  .functioning__lists {
    width: 97%;
  }
  .about__title {
    padding-top: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .restaurants__section {
    width: 47%;
  }
  .restaurants__badge {
    margin-left: 34%;
  }
  .restaurants__descriptiontitle {
    width: 85%;
  }
  .restaurants__image {
    height: 205px;
  }
  .restaurants__title {
    margin: 10px 10px 5px 10px;
  }
  .functioning__lists {
    width: 97%;
  }
  .about__title {
    padding-top: 25px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .restaurants__section {
    width: 47%;
  }
  .restaurants__badge {
    margin-left: 37%;
  }
  .restaurants__descriptiontitle {
    width: 85%;
  }
  .restaurants__image {
    height: 205px;
  }
  .restaurants__title {
    margin: 10px 10px 5px 10px;
  }
  .functioning__lists {
    width: 97%;
  }
  .about__title {
    padding-top: 25px;
  }
}

/*Desktop*/
@media only screen and (min-width: 1280px) and (max-width: 5119px) {
  .restaurants__section {
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
    width: 45%;
  }
  .restaurants__sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurants__image {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .restaurants__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    margin-left: 37%;
    top: 8%;
  }
  .restaurants__descriptiontext {
    margin: 0;
    padding: 0 0 0px 10px;
    width: 100%;
  }
  .restaurants__descriptiontitle {
    margin: 0;
    padding: 0 0 0px 10px;
    width: 90%;
  }
  .functioning__lists {
    padding: 0px 0px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__title {
    padding-top: 25px;
  }
}

body {
  background-color: white;
}

.menu {
  background-color: #ececec;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: -3rem;
  position: relative;
}

.menu__name {
  margin: 0;
  padding: 20px 0px 5px 15px;
  width: 930px;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1024px;
}

.menu__icon {
  padding: 15px 35px 0px 45px;
  font-size: 25px;
  background-clip: text;
  -webkit-background-clip: text;
}

.menu__section {
  margin: 10px 10px;
}

.menu__check {
  width: 340px;
}

.menu__presentationtext {
  margin: 0;
  padding: 0;
  height: 20px;
}

.menu__presentationtitle {
  margin: 0;
  padding: 15px 0px 5px 0px;
}

.menu__titlecategorie {
  padding-left: 5px;
  margin: 0;
}

.menu__price {
  margin: 30px 0px 0px 0;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 5% 10px 0;
}

.menu__presentation {
  border-radius: 15px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 15px 0 0 0px;
}

.menu__item {
  background-color: #fff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  margin: 10px 0 0 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.menu__confirmation {
  background-color: #99e2d0;
  margin: 0 -100% 0 0;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  padding: 20px 20px;
  margin: 0 -100% 0 0;
}

.menu__blocsections {
  width: 80%;
  padding-left: 10px;
}

.fa-check.fas {
  border: 2px solid white;
  border-radius: 25px;
  color: #99e2d0;
  background-color: white;
}

/*Desktop*/
@media only screen and (min-width: 1280px) and (max-width: 5119px) {
  .header {
    margin: 0;
  }
  .header__image {
    width: 100%;
    height: 490px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__text {
    width: 100%;
    margin: 10px 25px 0 0;
  }
  .header__link {
    margin: 20px 10px;
    color: gray;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    background-color: #ececec;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    max-width: 1280px;
    margin: -3rem auto auto auto;
    position: relative;
  }
  .menu__name {
    margin: 0;
    padding: 20px 0px 5px 15px;
    width: 1190px;
  }
  .menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1280px;
  }
  .menu__icon {
    padding: 15px 35px 0px 45px;
    font-size: 25px;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .menu__section {
    margin: 10px 10px;
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__check {
    width: 340px;
  }
  .menu__presentationtext {
    margin: 0;
    padding: 0;
  }
  .menu__presentationtitle {
    margin: 0;
    padding: 15px 0px 5px 0px;
  }
  .menu__titlecategorie {
    padding-left: 5px;
    margin: 0;
  }
  .menu__elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 10px;
  }
  .menu__presentation {
    border-radius: 15px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 15px 0 0 0px;
  }
}
/*# sourceMappingURL=main.css.map */