/*Footer*/
.footer {
    background-color: #353535;
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    z-index: 5;
    width: 100%;
    padding: 0;
    &__title {
        padding-left: 10px;
        max-width: 1280px;
        margin: auto;
    }
    &__elements {
        padding-left: 10px;
        max-width: 1280px;
        margin: auto;
    }
    &__lists {
        padding: 0;
        list-style-type: none;
        color: rgb(255, 255, 255);
    }
    &__link {
        text-decoration: none;
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
}

/*Desktop*/  
// @media only screen and (min-width: 1280px) and (max-width: 1919px) {
//     .restaurants {
//         &_sections {
//         padding: 0 0px 0px 50px;
//         }
//     }
// }

