/*Footer*/
.footer {
    background-color: #353535;
    padding: 1px 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;

    &__lists {
        padding: 0;
        list-style-type: none;
        color: rgb(255, 255, 255);
    }
    &__link {
        text-decoration: none;
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
    .footer {
        position: absolute;
        z-index: 5;
        width: 340px;
    }
}
