.header {
    margin: 0;
    text-align: center;
    &__image {
        width: 100%;
        height: 235px;
        object-fit: cover;
    }
    &__text {
        width: 100%;
        margin: 10px 25px 0 0;
    }
    &__link {
        margin: 20px 10px;
        color: gray;
    }
    &__nav {
        display: flex;
    }
}

@media only screen and (min-width: 3840px) and (max-width: 5119px) {
    .header {
        &__image {
            height: 450px;
            object-fit: cover;
        }
    }
    
}