.header {
    margin: 0;
    text-align: center;
    &__image {
        width: 100%;
        object-fit: cover;
    }
    &__text {
        width: 100%;
        margin: 10px 25px 0 0;
    }
    &__link {
        margin: 20px 10px;
        color: gray;
    }
    &__nav {
        display: flex;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 5119px) {
    .header {
        margin: 0;
        &__image {
            width: 100%;
            height: 490px;
            object-fit: cover;
        }
        &__text {
            width: 100%;
            margin: 10px 25px 0 0;
        }
        &__link {
            margin: 20px 10px;
            color: gray;
        }
        &__nav {
            display: flex;
        }
    }
}