.about , .order {
    &__button {
    background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    border-radius: 50px;
    height: 40px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    }
}

.order {
    text-align: center;
    padding: 15px 0px 40px 0;
    &__button {
        width: 135px;  
    }    
}
.about {
    &__button {
        width: 190px;
    }
}


