/* Button Heart */
.restaurants {
  /*Transition*/
  &__heartbackground--hover {
    font-size: 22px;
    padding: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color:transparent;
    cursor: pointer;
    &:hover {
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
      background-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-stroke-color: rgba(238, 130, 238, 0);
      width: 25px;
      text-align: center;
      // color: transparent;
    }
  }
}

/* Loading */
.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  display: -webkit-box;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;  
  animation: loader 3s linear forwards; 
  background-clip: text;
  &__elements {
    display: flex;
  }
  &__item {
    font-size: 250px;
  }

  @keyframes loader {
    0% { color: #9356DC; opacity:1; }
    20% {  color: #99E2D0;}
    50% { color: #FF79DA; }
    100% {  color: #99E2D0; opacity:0;}
    }
  }

.menu {
  &__presentation {
    transition: 3s;
    animation: slideUp 3s;
  }
  @keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(-10px);
      opacity: 1;
    }
  }
  &__checkbox-animation:hover {
    cursor: pointer;
  }
}
