/* Button Heart */
.restaurants {
  &__heartbackground--hover {
    font-size: 22px;
    padding: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color:transparent;
    cursor: pointer;
    &:hover {
      -webkit-text-fill-color: rgb(255, 43, 100);
      transform: scale(1.1);
      //  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(147, 86, 220, 0.9)), to(rgba(255, 121, 218, 0.9)));
      background-color: transparent;
      // border-radius: 58px 38px 50px 18px;
      // -webkit-radial-gradient:(red, yellow, rgb(30, 144, 255)
    }
  }
}


/* Loading */
.loading {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  &__elements {
    display: flex;
  }
  &__item {
    font-size: 250px;
    -webkit-animation: loader 2s linear infinite;
    animation-name: loader;
    animation: loader 2s linear  infinite;
  }

  @keyframes loader {
    0% { color: blueviolet;}
    50% { color: cornflowerblue;}
    90% {  color: orange;}
    100% {  color: orchid;}
    }
  
    &__loader__item--1 {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    &__loader__item--2 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    &__loader__item--3 {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    
}

