.restaurants {
  &__heartbackground--hover {
    font-size: 22px;
    padding: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color:transparent;
    cursor: pointer;
    &:hover {
      -webkit-text-fill-color: hotpink;
      transform: scale(1.1);
      // background: radial-gradient(red, yellow, rgb(30, 144, 255));
      background-color: transparent;
      // -webkit-radial-gradient:(red, yellow, rgb(30, 144, 255)
    }
  }
}


