$fonts_shrikhand_roboto: 'Shrikhand', 'Roboto', sans-serif;
$font_roboto: 'Roboto', sans-serif;

h1, h6 {
    font-family: $fonts_shrikhand_roboto;
    text-decoration: none;
}
body, html {
    font-family: $font_roboto;
}

a:link 
{ 
  text-decoration: none;
  list-style-type: none;
  color: black;
} 

.footer {
  &__title {
    font-family: $fonts_shrikhand_roboto;
  }
}