$fonts_shrikhand_roboto: 'Shrikhand', 'Roboto', sans-serif;
$font_roboto: 'Roboto', sans-serif;

h1, h6 {
    font-family: $fonts_shrikhand_roboto;
    text-decoration: none;
}
body, html {
    font-family: $font_roboto;
}

a:link 
{ 
  text-decoration: none;
  list-style-type: none;
  color: black;
} 

.footer {
  &__title {
    font-family: $fonts_shrikhand_roboto;
  }
}
/*Page index*/ 
.about {
  &__button {
    color: white;
    font-weight: bold;
  }
}

/*Pages Menu*/ 
.header {
  &__text {
      text-align: center;
      font-size: 25px;
  }
}

.menu {
  &__name {
    font-size: 25px;
  }
}
