/* BASE */
body {
    margin: 0;
}
main , header {
    position: relative;
}

.localisation {
    text-align: center;
}
.about {
    margin: 0;
    &__title {
        margin: 0;
    }
    &__elements {
        text-align: center;
        background-color: #ececec;
        padding: 0 0 35px 0;
    }
    &__button {
        border: 0;
    }
}
.order {
    &__button {
        border: 0;
    }
}
.restaurants {
    &__heartbackground {
        margin-top: 10px;
    }
    &__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    margin-top: 10px;
    }
    &__icons {
        width: 26px;
        display: flex;
        justify-content: center;
    }
}
.functioning {
    &__lists {
        padding: 0px 0px 0px 15px;
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: initial;
        margin-bottom: 25px;
        border-radius: 15px;
        background-color: #F2F2F2;
        width: 365px;
    }
    &__number {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: initial;
        margin-bottom: 25px;
        border-radius: 15px;
        background-color: #F2F2F2;
    }
    &__number {
        border-radius: 15px;
        background-color: #9356DC;
        padding: 6px 10px;
        margin: -15px;
    }
    &__iconmobile , &__iconlist , &__iconstore {
        padding: 0 25px 0 25px;
    }
    &__elements {
        max-width: 1280px;
        margin: auto;
        position: relative;
    }
}

/* Mobiles */
@media only screen and (min-width: 320px) and (max-width: 359px) {
    body {
        background-color:white;
        margin: 0;
    }
    /*Header*/ 
    .header {
        margin: 10px 10px;
        &__logo {
            text-align: center;
        }
    }
    .localisation {
        text-align: center;
        background-color: #F2F2F2;
        padding: 15px 0px 15px 0px;
        &__text {
            background-color: #F2F2F2;
            border-top: solid #F2F2F2 1px;
            border-bottom: solid #F2F2F2 1px;
            border-left: none;
            border-right: none;
            width: 90px;
        }
    }
    .about {
        &__elements {
            text-align: center;
        }
    }
    .functioning {
        margin: 10px 10px;
        &__lists {
            padding: 0px 0px 0px 15px;
            flex-direction: column;
        }
        &__list {
            display: flex;
            list-style: none;
            align-items: center;
            padding: initial;
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: #F2F2F2;
            width: 285px;
        }
        &__number {
            border-radius: 15px;
            background-color: #9356DC;
            padding: 6px 10px;
            margin: -15px;
        }
        &__iconmobile , &__iconlist , &__iconstore {
            padding: 0 25px 0 25px;
        }
    }
    /*Main*/ 
    .restaurants {
        background-color: #F2F2F2;
        padding: 10px 10px;
        &__link {
            list-style: none;
            text-decoration: none;
            color: black;
        }        
        &__elements {
            border-radius: 25px;
        }
        &__image {
            width: 300px;
            height: 170px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
        }
        &__elementdescription {
            display: flex;
            flex-wrap: wrap-reverse;
        }
        &__descriptiontext {
            margin: 0;
            padding: 0px 150px 5px 10px;
        }
        &__descriptiontitle {
            margin: 0;
            padding: 0px 65px 5px 10px;
            width: 180px;
        }
        &__descriptionicon1 {
            padding: 15px 0 0 55px;
        }
        &__descriptionicon2 {
            padding: 15px 0px 0 52px;
        }
        &__descriptionicon3 {
            padding: 15px 0px 0 88px;
        }
        &__descriptionicon4 {
            padding: 15px 0px 0px 54px;
        }
        &__section1, &__section2, &__section3, &__section4 {
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
    body {
        background-color:rgb(255, 255, 255);
        margin: 0;
    }
    /*Header*/ 
    .header {
        margin: 10px 10px;
        &__logo {
            text-align: center;
        }
    }
    .localisation {
        text-align: center;
        background-color: #F2F2F2;
        padding: 15px 0px 15px 0px;
        &__text {
            background-color: #F2F2F2;
            border-top: solid #F2F2F2 1px;
            border-bottom: solid #F2F2F2 1px;
            border-left: none;
            border-right: none;
            width: 90px;
        }
    }
    .about {
        &__elements {
            text-align: center;
        }
    }
    .functioning {
        margin: 10px 10px;

        &__lists {
            padding: 0px 0px 0px 15px;
            flex-direction: column;
        }
        &__list {
            display: flex;
            list-style: none;
            align-items: center;
            padding: initial;
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: #F2F2F2;
            width: 325px;
        }
        &__number {
            border-radius: 15px;
            background-color: #9356DC;
            padding: 6px 10px;
            margin: -15px;
        }
        &__iconmobile , &__iconlist , &__iconstore {
            padding: 0 25px 0 25px;
        }
    }
    /*Main*/ 
    .restaurants {
        background-color: #F2F2F2;
        padding: 10px 10px;
        &__new {
            position: relative;
        }
        &__link {
            list-style: none;
            text-decoration: none;
            color: black;
        }        
        &__elements {
            border-radius: 25px;
        }
        &__image {
            width: 340px;
            height: 170px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
        }
        &__elementdescription {
            display: flex;
            flex-wrap: wrap-reverse;
        }
        &__descriptiontext {
            margin: 0;
            width: 180px;
            padding: 0px 150px 5px 10px;
        }
        &__descriptiontitle {
            margin: 0;
            width: 195px;
            padding: 0px 90px 5px 10px;
        }
        // &__icons {
        //     padding: 15px 0px 0px 50px;
        // }
        &__section1, &__section2, &__section3, &__section4 {
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 383px) {
    body {
        background-color:rgb(255, 255, 255);
    }
    /*Header*/ 
    .header {
        margin: 10px 10px;
        &__logo {
            text-align: center;
        }
    }
    .localisation {
        text-align: center;
        background-color: #F2F2F2;
        padding: 15px 0px 15px 0px;
        &__text {
            background-color: #F2F2F2;
            border-top: solid #F2F2F2 1px;
            border-bottom: solid #F2F2F2 1px;
            border-left: none;
            border-right: none;
            width: 90px;
        }
    }
    .about {
        &__elements {
            text-align: center;
        }
    }
    .functioning {
        margin: 10px 10px;

        &__lists {
            padding: 0px 0px 0px 15px;
            flex-direction: column;
        }
        &__list {
            display: flex;
            list-style: none;
            align-items: center;
            padding: initial;
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: #F2F2F2;
            width: 340px;
        }
        &__number {
            border-radius: 15px;
            background-color: #9356DC;
            padding: 6px 10px;
            margin: -15px;
        }
        &__iconmobile , &__iconlist , &__iconstore {
            padding: 0 25px 0 25px;
        }
    }
    /*Main*/ 
    .restaurants {
        background-color: #F2F2F2;
        padding: 10px 10px;
        &__link {
            list-style: none;
            text-decoration: none;
            color: black;
        }        
        &__elements {
            border-radius: 25px;
        }
        &__image {
            width: 355px;
            height: 170px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
        }
        &__elementdescription {
            display: flex;
            flex-wrap: wrap-reverse;
        }
        &__descriptiontext {
            margin: 0;
            padding: 0px 150px 5px 10px;
        }
        &__descriptiontitle {
            margin: 0;
            padding: 0px 65px 5px 10px;
            width: 235px;
        }
        &__descriptionicon1 {
            padding: 15px 0 0 110px;
        }
        &__descriptionicon2 {
            padding: 15px 0px 0 107px;
        }
        &__descriptionicon3 {
            padding: 15px 0px 0 142px;
        }
        &__descriptionicon4 {
            padding: 15px 0px 0px 108px;
        }
        &__section1, &__section2, &__section3, &__section4 {
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
        }
    }
}

@media only screen and (min-width: 384px) and (max-width: 409px) {
    body {
        background-color:rgb(255, 255, 255);
    }
    /*Header*/ 
    .header {
        margin: 10px 10px;
        &__logo {
            text-align: center;
        }
    }
    .localisation {
        text-align: center;
        background-color: #F2F2F2;
        padding: 15px 0px 15px 0px;
        &__text {
            background-color: #F2F2F2;
            border-top: solid #F2F2F2 1px;
            border-bottom: solid #F2F2F2 1px;
            border-left: none;
            border-right: none;
            width: 90px;
        }
    }
    .about {
        &__elements {
            text-align: center;
        }
    }
    .functioning {
        margin: 10px 10px;
        &__lists {
            padding: 0px 0px 0px 15px;
            flex-direction: column;
        }
        &__list {
            display: flex;
            list-style: none;
            align-items: center;
            padding: initial;
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: #F2F2F2;
            width: 350px;
        }
        &__number {
            border-radius: 15px;
            background-color: #9356DC;
            padding: 6px 10px;
            margin: -15px;
        }
        &__iconmobile , &__iconlist , &__iconstore {
            padding: 0 25px 0 25px;
        }
    }
    /*Main*/ 
    .restaurants {
        background-color: #F2F2F2;
        padding: 10px 10px;
        &__badge {
            margin-top: -165px;
        }
        &__link {
            list-style: none;
            text-decoration: none;
            color: black;
        }        
        &__elements {
            border-radius: 25px;
        }
        &__image {
            width: 392px;
            height: 170px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
        }
        &__elementdescription {
            display: flex;
            flex-wrap: wrap-reverse;
        }
        &__descriptiontext {
            margin: 0;
            padding: 0px 150px 5px 10px;
        }
        &__descriptiontitle {
            margin: 0;
            padding: 0px 65px 5px 10px;
            width: 245px;
        }
        &__descriptionicon1 {
            padding: 15px 0 0 120px;
        }
        &__descriptionicon2 {
            padding: 15px 0px 0 117px;
        }
        &__descriptionicon3 {
            padding: 15px 0px 0 152px;
        }
        &__descriptionicon4 {
            padding: 15px 0px 0px 118px;
        }
        &__section1, &__section2, &__section3, &__section4 {
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
        }
    }
}

@media only screen and (min-width: 410px) and (max-width: 599px) {
    body {
        background-color:rgb(255, 255, 255);
    }
    /*Header*/ 
    .header {
        margin: 10px 10px;
        &__logo {
            text-align: center;
        }
    }
    .localisation {
        text-align: center;
        background-color: #F2F2F2;
        padding: 15px 0px 15px 0px;
        &__text {
            background-color: #F2F2F2;
            border-top: solid #F2F2F2 1px;
            border-bottom: solid #F2F2F2 1px;
            border-left: none;
            border-right: none;
            width: 90px;
        }
    }
    .about {
        &__elements {
            text-align: center;
        }
    }
    .functioning {
        margin: 10px 10px;

        &__lists {
            padding: 0px 0px 0px 15px;
            flex-direction: column;
        }
        &__list {
            display: flex;
            list-style: none;
            align-items: center;
            padding: initial;
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: #F2F2F2;
            width: 380px;
        }
        &__number {
            border-radius: 15px;
            background-color: #9356DC;
            padding: 6px 10px;
            margin: -15px;
        }
        &__iconmobile , &__iconlist , &__iconstore {
            padding: 0 25px 0 25px;
        }
    }
    /*Main*/ 
    .restaurants {
        background-color: #F2F2F2;
        padding: 10px 10px;
        &__badge {
            margin-top: -165px;
        }
        &__link {
            list-style: none;
            text-decoration: none;
            color: black;
        }        
        &__elements {
            border-radius: 25px;
        }
        &__image {
            width: 395px;
            height: 170px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
        }
        &__elementdescription {
            display: flex;
            flex-wrap: wrap-reverse;
        }
        &__descriptiontext {
            margin: 0;
            padding: 0px 150px 5px 10px;
        }
        &__descriptiontitle {
            margin: 0;
            padding: 0px 65px 5px 10px;
            width: 270px;
        }
        &__descriptionicon1 {
            padding: 15px 0 0 145px;
        }
        &__descriptionicon2 {
            padding: 15px 0px 0 142px;
        }
        &__descriptionicon3 {
            padding: 15px 0px 0 177px;
        }
        &__descriptionicon4 {
            padding: 15px 0px 0px 144px;
        }
        &__section1, &__section2, &__section3, &__section4 {
            margin-bottom: 25px;
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
        }
    }
}
/* Desktop */
@media only screen and (min-width: 600px) and (max-width: 5119px) {
    .restaurants {
        &__image {
            width: 350px;
            height: 250px;
        }
    }
}