/* Base/margin/padding */

.restaurants {
    &__icons {
        width: 26px;
        display: flex;
        justify-content: center;
    }
}

/*Mobiles*/ 
@media only screen and (min-width: 320px) and (max-width: 359px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .header {
        margin: 0;
        &__image {
            width: 320px;
            height: 235px;
            object-fit: cover;
        }
        &__text {
            width: 100%;
            margin: 10px 25px 0 0;
        }
        &__link {
            margin: 20px 10px;
            color: gray;
        }
        &__nav {
            display: flex;
        }
    }
    .menu {
        background-color: #ececec;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: -3rem;
        position: relative;
        &__name {
            margin: 0;
            padding: 20px 0px 5px 15px;
            width: 200px;
        }
        &__title {
            display: flex;
            align-items: center;
            width: 320px;

        }
        &__icon {
            padding: 15px 35px 0px 45px;
            font-size: 25px;
        }
        &__section {
            margin: 10px 10px;
        }
        &__presentation {
            border-radius: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            margin: 15px 0 0 0px;
        }
        &__price {
            margin: 0;
            width: 50px;
        }
        &__presentationtext {
            margin: 0;
            padding: 0px 0px 2px 15px;
            width: 235px;
        }
        &__presentationtitle {
            margin: 0;
            padding: 15px 0px 5px 15px;
            width: 340px;
        }
        &__titlecategorie {
            padding-left: 5px;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .header {
        margin: 0;
        &__image {
            width: 360px;
            height: 235px;
            object-fit: cover;
        }
        &__text {
            width: 100%;
            margin: 10px 25px 0 0;
        }
        &__link {
            margin: 20px 10px;
            color: gray;
        }
        &__nav {
            display: flex;
        }
    }
    .menu {
        background-color: #ececec;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: -3rem;
        position: relative;
        &__name {
            margin: 0;
            padding: 20px 0px 5px 15px;
            width: 240px;
        }
        &__title {
            display: flex;
            align-items: center;
            width: 360px;
        }
        &__icon {
            padding: 15px 35px 0px 45px;
            font-size: 25px;
        }
        &__section {
            margin: 10px 10px;
        }
        &__presentation {
            border-radius: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            margin: 15px 0 0 0px;
        }
        &__price {
            margin: 0;
            width: 50px;
        }
        &__presentationtext {
            margin: 0;
            padding: 0px 0px 2px 15px;
            width: 275px;
        }
        &__presentationtitle {
            margin: 0;
            padding: 15px 0px 5px 15px;
            width: 340px;
        }
        &__titlecategorie {
            padding-left: 5px;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 383px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .header {
        margin: 0;
        &__image {
            width: 375px;
            height: 235px;
            object-fit: cover;
        }
        &__text {
            width: 100%;
            margin: 10px 25px 0 0;
        }
        &__link {
            margin: 20px 10px;
            color: gray;
        }
        &__nav {
            display: flex;
        }
    }
    .menu {
        background-color: #ececec;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: -3rem;
        position: relative;
        &__name {
            margin: 0;
            padding: 20px 0px 5px 15px;
            width: 200px;
        }
        &__title {
            display: flex;
            align-items: center;
            width: 375px;

        }
        &__icon {
            padding: 15px 35px 0px 100px;
            font-size: 25px;
        }
        &__section {
            margin: 10px 10px;
        }
        &__presentation {
            border-radius: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            margin: 15px 0 0 0px;
        }
        &__price {
            margin: 0;
            width: 50px;
        }
        &__presentationtext {
            margin: 0;
            padding: 0px 0px 2px 15px;
            width: 290px;
        }
        &__presentationtitle {
            margin: 0;
            padding: 15px 0px 5px 15px;
            width: 340px;
        }
        &__titlecategorie {
            padding-left: 5px;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 384px) and (max-width: 409px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .header {
        margin: 0;
        &__image {
            width: 384px;
            object-fit: cover;
        }
        &__text {
            width: 100%;
            margin: 10px 25px 0 0;
        }
        &__link {
            margin: 20px 10px;
            color: gray;
        }
        &__nav {
            display: flex;
        }
    }
    .menu {
        background-color: #ececec;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: -3rem;
        position: relative;
        &__name {
            margin: 0;
            padding: 20px 0px 5px 15px;
            width: 264px;
        }
        &__title {
            display: flex;
            align-items: center;
            width: 384px;

        }
        &__icon {
            padding: 15px 35px 0px 45px;
            font-size: 25px;
        }
        &__section {
            margin: 10px 10px;
        }
        &__presentation {
            border-radius: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            margin: 15px 0 0 0px;
        }
        &__price {
            margin: 0;
            width: 50px;
        }
        &__presentationtext {
            margin: 0;
            padding: 0px 0px 2px 15px;
            width: 299px;
        }
        &__presentationtitle {
            margin: 0;
            padding: 15px 0px 5px 15px;
            width: 350px;
        }
        &__titlecategorie {
            padding-left: 5px;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 410px) and (max-width: 413px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .header {
        margin: 0;
        &__image {
            width: 412px;
            height: 235px;
            object-fit: cover;
        }
        &__text {
            width: 100%;
            margin: 10px 25px 0 0;
        }
        &__link {
            margin: 20px 10px;
            color: gray;
        }
        &__nav {
            display: flex;
        }
    }
    .menu {
        background-color: #ececec;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: -3rem;
        position: relative;
        &__name {
            margin: 0;
            padding: 20px 0px 5px 15px;
            width: 292px;
        }
        &__title {
            display: flex;
            align-items: center;
            width: 412px;
        }
        &__icon {
            padding: 15px 35px 0px 45px;
            font-size: 25px;
        }
        &__section {
            margin: 10px 10px;
        }
        &__presentation {
            border-radius: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            margin: 15px 0 0 0px;
        }
        &__price {
            margin: 0;
            width: 50px;
        }
        &__presentationtext {
            margin: 0;
            padding: 0px 0px 2px 15px;
            width: 325px;
        }
        &__presentationtitle {
            margin: 0;
            padding: 15px 0px 5px 15px;
            width: 375px;
        }
        &__titlecategorie {
            padding-left: 5px;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 414px) and (max-width: 599px) {
    body {
        background-color: rgb(255, 255, 255);
    }
    .header {
        margin: 0;
        &__image {
            width: 414px;
            height: 235px;
            object-fit: cover;
        }
        &__text {
            width: 100%;
            margin: 10px 25px 0 0;
        }
        &__link {
            margin: 20px 10px;
            color: gray;
        }
        &__nav {
            display: flex;
        }
    }
    .menu {
        background-color: #ececec;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-top: -3rem;
        position: relative;
        &__name {
            margin: 0;
            padding: 20px 0px 5px 15px;
            width: 294px;
        }
        &__title {
            display: flex;
            align-items: center;
            width: 414px;
        }
        &__icon {
            padding: 15px 35px 0px 45px;
            font-size: 25px;
        }
        &__section {
            margin: 10px 10px;
        }
        &__presentation {
            border-radius: 15px;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            margin: 15px 0 0 0px;
        }
        &__price {
            margin: 0;
            width: 50px;
        }
        &__presentationtext {
            margin: 0;
            padding: 0px 0px 2px 15px;
            width: 329px;
        }
        &__presentationtitle {
            margin: 0;
            padding: 15px 0px 5px 15px;
            width: 380px;
        }
        &__titlecategorie {
            padding-left: 5px;
            margin: 0;
        }
    }
}